/* chat.css */

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.chat-container {
    display: flex;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   

}

.phonebook-container {
    flex: 1;
    overflow-y: auto;
    border-right: 1px solid #ccc;
    padding: 10px;
    width: 393px;
    height: auto;
}

.phonebook-list {
    padding: 0;
    list-style-type: none;
}

    .phonebook-list .contact-item {
        margin-bottom: 10px;
    }

        .phonebook-list .contact-item button {
            display: flex;
            align-items: center;
            background-color: transparent;
            border: none;
            cursor: pointer;
            width: 100%;
            padding: 10px;
        }

            .phonebook-list .contact-item button:hover {
                background-color: #f0f0f0;
            }

        .phonebook-list .contact-item .avatar {
            width: 40px;
            height: 40px;
            overflow: hidden;
            border-radius: 50%;
            margin-right: 10px;
        }

            .phonebook-list .contact-item .avatar img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .phonebook-list .contact-item .contact-details {
            flex: 1;
        }

            .phonebook-list .contact-item .contact-details h4 {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
            }

            .phonebook-list .contact-item .contact-details p {
                margin: 0;
                font-size: 14px;
                color: #888;
            }

.chat-history-container {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 852px;
}

.chat-header {
    background-color: #4267b2;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

    .chat-header h2 {
        margin: 0;
        font-size: 18px;
        flex: 1;
        text-align: center;
    }

    .chat-header .back-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        color: #fff;
    }

        .chat-header .back-button i {
            font-size: 20px;
        }

    .chat-header .user-info {
        display: flex;
        align-items: center;
    }

        .chat-header .user-info .avatar {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            margin-right: 10px;
        }

.chat-history {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.message {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

    .message.sent .message-content {
        align-self: flex-end;
        background-color: #4267b2;
        color: #fff;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        padding: 10px;
        max-width: 70%;
        word-wrap: break-word;
    }

    .message.received .message-content {
        align-self: flex-start;
        background-color: #f0f0f0;
        color: #333;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
        padding: 10px;
        max-width: 70%;
        word-wrap: break-word;
    }

.message-content span {
    font-size: 14px;
}

.message-content small {
    color: #888;
    font-size: 12px;
}

.message-input {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: 30px;
}
}

    .message-input .message-textbox {
        flex: 1;
        padding: 8px;
        font-size: 14px;
        border: 1px solid #ccc;
        border-radius: 20px;
        margin-right: 10px;
    }

    .message-input .send-button {
        background-color: #4267b2;
        color: #fff;
        border: none;
        padding: 10px;
        border-radius: 50%;
        cursor: pointer;
    }

        .message-input .send-button i {
            font-size:  20px;
                    
        }
