@page "/deadsea/studyunit"

<h3>Dead sea</h3>
<p>
The Dead Sea is known in Hebrew as Yam Ha-Melakh (the Sea of Salt). The Dead Sea elevation stands at -430 m, making it the lowest point on earth. It’s an incredibly unique area, and not just because of its depth. It’s surrounded by the stunning landscape of the Negev Desert and the saline waters of the lake mean no fish can survive in the salty waters. The salty water and its associated mud are renowned for their health and healing properties, attracting people from all over the world. Packed full of salt, you can even float naturally on the water!
</p>

<p>
The Dead Sea is part of the long border between Israel and Jordan whose towering mountains can be seen from the Israeli side, part of the Judean and Negev deserts. Just a one-hour drive from Jerusalem, the sea is a place popular with Israelis wanting a few days of relaxation or taking advantage of the medical properties of the water. It’s also popular with tourists staying for a short time to experience the unique Sea and surroundings. People famously cover themselves in the mineral-rich mud and float in the salty waters at its beaches.
</p>


@code {

}
